/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.page {
	color: $text-color;
	background-color: #fff;

	font-family: $font-family;
	line-height: 1.5;

	@include font-size(1.4)
}
