/* #UTILITIES
-------------------------------------------------- */


/**
* Clearfix
*/

.u-clearfix:before,
.u-clearfix:after {
	content: " ";
	display: table;
}

.u-clearfix:after {
	clear: both;
}


/**
 * Completely remove from the flow and screen readers.
 */

.u-hidden {
	display: none !important;
}


/**
 * Display a hidden-by-default element.
 */

.u-shown {
	display: block !important;
}


/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-visuallyhidden {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
}


/**
 * Control visibility without affecting flow.
 */

.u-invisible {
	visibility: hidden !important;
}

.u-visible {
	visibility: visible !important;
}


/**
* The concealment element when printing
*/

.u-hidden-print {
	@media print {
		display: none !important;
	}
}


/**
* Remove margins
*/

.u-mv0 {
	margin-top: 0;
	margin-bottom: 0;
}

.u-mh0 {
	margin-left: 0;
	margin-right: 0;
}